<app-card variant="secondary" class="form-busca">
  <form>
    <h2>Passagens</h2>
    <div class="flex-container">
      <mat-button-toggle-group aria-label="Tipo de passagem">
        <mat-button-toggle>
          <mat-icon>check</mat-icon>
          IDA E VOLTA
        </mat-button-toggle>
        <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
      </mat-button-toggle-group>
      <mat-chip-list aria-label="Seleção de passagens">
        <mat-chip selected (click)="openDialog()"><mat-icon>done</mat-icon>1 adulto</mat-chip>
        <mat-chip (click)="openDialog()"><mat-icon>done</mat-icon>Econômica</mat-chip>
      </mat-chip-list>
    </div>
    <div class="flex-container">
      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Origem</mat-label>
        <mat-icon matPrefix>flight_takeoff</mat-icon>
        <input matInput placeholder="Origem">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <button mat-button>
        <mat-icon matSuffix>sync_alt</mat-icon>
      </button>

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Destino</mat-label>
        <mat-icon matPrefix>flight_land</mat-icon>
        <input matInput placeholder="Destino">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data de ida</mat-label>
        <input matInput [matDatepicker]="datepickerIda">
        <mat-datepicker-toggle matSuffix matIconSuffix [for]="datepickerIda"></mat-datepicker-toggle>
        <mat-datepicker #datepickerIda></mat-datepicker>
      </mat-form-field>

      <mat-form-field class="input-container" appearance="outline">
        <mat-label>Data de volta</mat-label>
        <input matInput [matDatepicker]="datepickerVolta">
        <mat-datepicker-toggle matSuffix matIconSuffix [for]="datepickerVolta"></mat-datepicker-toggle>
        <mat-datepicker #datepickerVolta></mat-datepicker>
      </mat-form-field>

      <button mat-flat-button class="btn-search" color="primary"><mat-icon>search</mat-icon></button>
    </div>
  </form>
</app-card>
